<!DOCTYPE html>
<html>
  <head>
    <title>LoLSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <div class="container">
    <h1>しらべるにゃ</h1>
    <%= form_with url: search_path, method: :get, local: true do |f| %>
      <% f.text_field :name, class: "search_form", placeholder: "例: かずーたグラスク" %>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
